<section class="sidebar" aria-label="Filtres">
  <section>
    <h2>Catégories</h2>
    <div class="btn-group vertical" id="product-categories">
      <button [class.selected] = "'cameras' ===categorieChoisie"(click)="getProducts(undefined, 'cameras')">Appareils photo</button>
      <button [class.selected] = "'consoles' ===categorieChoisie"(click)="getProducts(undefined, 'consoles')">Consoles</button>
      <button [class.selected] = "'screens' ===categorieChoisie"(click)="getProducts(undefined, 'screens')" >Écrans</button>
      <button [class.selected] = "'computers' ===categorieChoisie" (click)="getProducts(undefined, 'computers')">Ordinateurs</button>
      <button [class.selected] = "undefined ===categorieChoisie" (click)="getProducts(undefined, 'all')">Tous les produits</button>
    </div>
  </section>
  <section>
    <h2>Classement</h2>
    <div class="btn-group vertical" id="product-criteria">
      <button [class.selected] = "undefined ===classementChoisi"class="selected" (click)="getProducts('price-asc', undefined)">Prix (bas-haut)</button>
      <button [class.selected] = "'price-dsc' ===classementChoisi" (click)="getProducts('price-dsc', undefined)">Prix (haut-bas)</button>
      <button [class.selected] = "'alpha-asc' ===classementChoisi"(click)="getProducts('alpha-asc', undefined)">Nom (A-Z)</button>
      <button [class.selected] = "'alpha-dsc' ===classementChoisi"(click)="getProducts('alpha-dsc', undefined)">Nom (Z-A)</button>
    </div>
  </section>
</section>
<article>
  <span class="right-header" id="products-count">{{products.length}} produits</span>
  <h1>Produits</h1>
  <div class="products" id="products-list">
    <div *ngFor="let product of products" class="product">
      <a routerLink="/produits/{{product.id}}" title="En savoir plus...">
        <h2>{{product.name}}</h2>
        <img alt="{{product.name}}" src="./assets/img/{{product.image}}">
        <p><small>Prix</small> {{product.price}}&thinsp;$</p>
      </a>
    </div>
  </div>
</article>
